.login{
    width: 100%;
    margin: auto;
    background-image: url('../../assets/Login/BG.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    margin-top: 3rem;
}
.footer{
    width: 100%;
    height: 24rem;
    margin: auto;
}